.nav-link,
.navbar-brand {
  color: white;
}

.navbar {
  background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(126, 184, 255, 1) 35%, rgba(184, 184, 184, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(126, 184, 255, 1) 35%, rgba(184, 184, 184, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(126, 184, 255, 1) 35%, rgba(184, 184, 184, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B8B8B8', endColorstr='#000000', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(126, 184, 255, 1) 35%, rgba(184, 184, 184, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(126, 184, 255, 1) 35%, rgba(184, 184, 184, 1) 100%);
}

.navbar-toggler-icon {
  background-color: transparent;
}